/* app/components/shared/Footer.module.scss */
.footer {
  background-color: white;
  color: black;
  border-top: 1px solid #6b7280; /* border-gray-500 */
  text-align: center;
  padding: 1.25rem;
}

.linkContainer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: black;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.link {
  padding-left: 0.5rem;
  @media (min-width: 1024px) {
    display: inline-block;
    margin-top: 0;
  }

  & {
    color: #38b2ac;
  }
  &:hover {
    color: #1f2937; /* hover:text-gray-800 */
  }
}

.copyright {
  margin: 0.5rem 0;
}