.container {
  width: 100%;
}

.section {
  padding: 1rem;
  max-width: 640px;
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

.ul {
  margin: 0.75rem;
}

.todoItem {
  margin: 0.75rem;
  padding: 0.75rem;
  background-color: white;
  border-radius: 0.375rem;
}

.todoName {
  font-weight: bold;
}

.todoContent {
  margin-top: 0.75rem;
  word-break: break-word;
}